@keyframes slideDown {
  0% { opacity: 0; transform: translateY(-10%); }
  100% { opacity: 1; transform: translateY(0); }
}

.profile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
  z-index: 999;
  background-color: #470276;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  padding: 25px;
}

.profile-drawer.open {
  transform: translateX(0);
}

.modal-container {
  background-color: #1c0831;
  margin: 15px;
  padding: 20px;
  color: white;
  animation: slideDown 0.5s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.button {
  font-size: 16px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

#btnicon {
  padding-right: 20px;
  font-size: 20px;
}

.profile-drawer ul {
  list-style: none;
  padding: 20px;
}

.profile-drawer li {
  margin-bottom: 10px;
}

.card-body.drawer{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button.logout{
  width: 100%;
}

.card-body.fileUpload{
  margin: 10px;
}
.form-control.mb-2{
  width: 90%;
}
@media (max-width: 768px) {
  .profile-drawer {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .profile-drawer {
    width: 100%;
    font-size: small;
  }
  .button.logout{
    font-size: smaller;
    width: 50%;
  }
  #btnicon {
    font-size: 18px;
  }
}