* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 325px;
  --card-height: 650px;
  --card-radius: 25px;
  --separator-height: 500px;
  
  --bg: #fdf3f2;
  --card-bg: #f3ddc3;
  --intro-bg: #d4affa;
  --font-color: #807b7b;
  --red: #e67272;
  --blue: #7472e6;
  
  --transition: transform 0.7s ease-in-out;
}

.layout {
  width: var(--card-width);
  height: var(--card-height);
  margin: 30px 0;
  border-radius: var(--card-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--card-bg);
  box-shadow: 20px 20px 20px 7px #580391d1;
  
  .actions { 
    position: fixed;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 35px;
    color: white;
    z-index: 6;
  }
  
  .book-cover {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--card-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
    background-color: var(--intro-bg);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
  }
  
  .book-top, .card-img-top {
    width: 170px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
  }

  .book-side {
    position: absolute;
    width: 172px;
    height: 29px;
    top: 430px; 
    left: 248px;
    transform: translateY(-15px) translateX(0px) translateZ(16px) rotateX(104deg);
  }

  .preface {
    height: var(--separator-height);
    padding: 10px;
    transition: var(--transition); 
    background: white;

    .header {
      display: flex;
      align-items: center;
    }

    .title {
      /* font-family: 'Courier New', Courier, monospace; */
      color: black;
      font-weight: bolder;
      font-size: 26px;
      margin-bottom: 5px;
      text-align: left;
    }

    .author {
      font-family:sans-serif;
      font-style: italic;
      color: black;
    }

    .body {
      font-family: 'Quicksand', sans-serif;
    }

    .body p:first-child {
      margin-bottom: 15px;
    }
  }
}

.layout:hover .book-cover {
  transform: rotateX(75deg) translateZ(3px) scale(0.75);
}

.layout:hover .book-cover + .preface {
  transform: translateY(-302px);
}

.layout:hover .book-cover + .preface .icon {
  transform: rotateX(180deg);
}

.card-body{
  padding-top: 20px;
  margin: 10px;
  border-radius: 15px;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
}
.bttn{
min-width: 100px;
padding: 10px;
border-radius: 25px;
opacity: 0.8;
margin: 5px;
font-weight: bolder;
}
.bttn:hover{
  border: 1px solid black;
}
.closebttn{
  right: 0;
}
.cardbitch{
border: 5px solid rgb(90, 3, 152);
box-shadow: none;
background-color: rgba(229, 209, 249, 0.9);
border-radius: 15px;
}
.cardbitch:hover{
box-shadow: 0 0 5px 3px white;
}

.card-img-top {
  width: 160px;
  border-radius: 15px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust this height as necessary */
  overflow: hidden;
  background-color: var(--intro-bg);
}
.image-container img {
  width: 60%;
}

.card {
  margin: 15px;
  width: 380px;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(-15px); /* Move the card slightly upwards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}