.forgot-card{    
  background-color: #1c0831;
  padding: 50px;
  width: 35%;
  min-width: 300px;
  margin-left: 33%;
  border-radius: 25px;
  color: white;
  border: 2px solid #52297a;
  transition: 0.3s ease-in-out;
}
.forgot-card:hover{
  box-shadow: 0 0 20px 2px #7f39c5;
}
#body{
  padding-top: 40px;
}