.loader {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #4e2478;
}

@media (max-width: 768px) {
    .loader img {
        padding: 60px auto;
        width: 100%;
    }
}

@media (max-width: 560px) {
    .loader img {
        width: 90vw;
        padding: auto;
    }
}