.text-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.cover-page img {
    max-width: 190px;
    background-size: contain;
    /* border: 5px solid white; */
    margin-right: 20px;
}

.title-description-container {
    flex: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.566);
    color: white;
    width: 100%;
    padding: 10px;
}

.title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.title:hover {
    color: #007bff;
}

.description {
    margin-top: 10px;
    font-size: 16px;
}

.go-back-button,
.publish-button,
.add-btn,
.edit-btn,
.save-btn, .draft-btn{
    background-color: #7f39c5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 200px;
    height: 50px;
}

.go-back-button:hover,
.publish-button:hover,
.add-btn:hover,
.save-btn:hover,
.draft-btn:hover {
    background-color: #b46aff;
    transform: translateY(-2px);
    position: sticky;
}

/* .editor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editor {
    top: 60px;
    width: 100%;
    height: 600px; /* Increased height for larger text area */
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
}
.upload-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 80%;
}

.upload-section input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 20px; */
    position: sticky;
    top: 0;
    background-color: rgb(41, 1, 75);
    z-index: 5;
    padding: 20px;
    height: fit-content;
}
.footer{
    margin-bottom: 0 ;
}
.email-section{
    opacity: 0.8;
    border-radius: 25px;
}
.editor-section{
    background-color: rgba(255, 255, 255, 0.772);
}
.hidden-pdf-container{
    /* padding: 80px; */
    /* margin: 10px; */
    width: 65%;
}
.dark-mode{
    background-color: black; 
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; 

    .jodit-wysiwyg, .input-field{
        background-color: #333;
        color: white;
    }
    .jodit-toolbar__box{
        background-color: rgb(50, 49, 49);
    }
    .email-section{
        color: black;
    }
    .editor-section{
        color: black;
    }
}

.light-mode {
    background-color: #fff; 
    color: black;

    .jodit-wysiwyg, .input-field, .email-section, .jodit-ui-group, .editor{
        background-color: whitesmoke;
        color: black;
    } 
}
.jodit-toolbar__box{
    top: 150px;
    z-index: 1;
    /* position: sticky; */
}
.themebtn, .circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}
.circle{
    background-color: rgb(223, 173, 248);
    padding: 3px;
    transition: all ease-in-out 0.3s;
    color: rgb(51, 3, 94);
}
.themebtn.dark-mode{
    overflow: hidden;
    .circle{
        transform-origin: bottom right;
        translate: -35% -30%;
        color: black;
        background-color: black;    
    }
}
.themebtn:hover{
    box-shadow: 0 2px 7px 3px white;
}